<div class="personal-info my-4">
  <p class="personal-info__public">
    {{ 'personal_info_public_bio' | translate }}
  </p>
  @if (personalInfoEnabled) {
    <details class="personal-info__details">
      <summary class="personal-info__summary">
        {{ 'personal_info_toggle' | translate }}
      </summary>
      <div class="personal-info__controls">
        <label class="personal-info__label" for="personal-token">
          {{ 'personal_info_token_label' | translate }}
        </label>
        <input
          id="personal-token"
          type="password"
          [(ngModel)]="token"
          class="personal-info__input"
          [placeholder]="'personal_info_token_placeholder' | translate"
          autocomplete="off"
          spellcheck="false"
          autocapitalize="none"
        />
        <div class="personal-info__actions">
          <button
            type="button"
            class="personal-info__button personal-info__button--primary"
            (click)="submitToken()"
          >
            {{ 'personal_info_load' | translate }}
          </button>
          @if (token) {
            <button
              type="button"
              class="personal-info__button"
              (click)="clearToken()"
            >
              {{ 'personal_info_clear' | translate }}
            </button>
          }
        </div>
      </div>
    </details>
  }
  @if (errorKey) {
    <p class="personal-info__error">{{ errorKey | translate }}</p>
  }
  @if (personal$ | async; as personal) {
    <div class="personal-info__private">
      {{ personal.privateBio }}
    </div>
  }
</div>
