<div class="console-profile-badge__shell">
  <div class="console-profile-badge__ring">
    @if (imageSrc()) {
      <img
        class="console-profile-badge__image"
        [src]="imageSrc()!"
        [alt]="imageAlt()"
      />
    } @else {
      <span class="console-profile-badge__placeholder">{{
        fallbackLabel()
      }}</span>
    }
  </div>

  @if (showStatus()) {
    <span class="console-profile-badge__status" aria-hidden="true">
      <span class="console-profile-badge__status-ping"></span>
    </span>
  }
</div>
