<div class="console-header"></div>
<div
  id="estudios"
  class="container text-center lg:text-left floating-text console"
>
  <h6>
    <span class="console-home">~</span> via
    <span class="ingenieria-uc">
      <fa-icon [icon]="faUniversity"></fa-icon> {{ header }}
    </span>
  </h6>
  <p>
    @if ((countryservice$ | async)?.country === defaultCountry) {
      <span
        ><span class="console-input">> </span>
        <span class="console-command">Degree</span> in {{ degree }}<br
      /></span>
    }
    <span class="console-input">> </span>
    @if ((countryservice$ | async)?.country === 'CL') {
      <span class="console-command">Major</span> of {{ major }}
    } @else {
      <span class="console-command">Degree</span> in {{ major }}
    }
    <br />
    <span class="console-input">> </span>
    <span class="console-command">Minor</span> in {{ minor }} <br />
  </p>
</div>
