<div class="console-header"></div>
<div
  id="estudios"
  class="container text-center lg:text-left floating-text console"
>
  <h6>
    <span class="ingenieria-uc">
      <fa-icon [icon]="faUniversity"></fa-icon> {{ header }}
    </span>
  </h6>
  <p>
    @if ((countryservice$ | async)?.country === defaultCountry) {
      <span
        ><span class="console-command">Degree</span>: {{ degree }}<br
      /></span>
    }
    @if ((countryservice$ | async)?.country === 'CL') {
      <span class="console-command">Major</span>: {{ major }}
    } @else {
      <span class="console-command">Degree</span>: {{ degree }}
    }
    <br />
    <span class="console-command">Minor</span>: {{ minor }} <br />
  </p>
</div>
